{% extends 'base.html' %}
{% block content %}

    <center>
      <h1>Welcome to the Login page</h1>
    </center>
    <form method="POST" >
            {% csrf_token %}

            <input class="form-control" type="text" name="username" placeholder="Enter Username" class="form-control">

					  <input class="form-control" type="password" name="password" placeholder="Enter Password" class="form-control">
            <br>
            <center>
              <input class=" btn btn-success" type="submit" value="Log In">

    </form>

{% endblock %}
