{% extends 'base.html' %} {% block content %}
<style>
  #id_name {
    width: 80%;
  }
</style>
<div style="padding: 30px">
  <h1><u>Fill in your Personal Details</u></h1>
  <br />
  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="row" style="margin-top: 18px; margin-bottom: 18px">
      <div class="col-3">{{field.name}}</div>
      <div class="col-9">{{field}}</div>
    </div>
    {% endfor %}
    <div class="text-center">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>
</div>

{% endblock %}
