{% extends 'base.html' %} {% load qr_code %}
{% block header %}
<li class="nav-item" style="margin-left: 17px;">
  <a class="nav-link" href="{% url 'basic_qr:profile' num %}">Profile</a>
</li>
{% endblock %}
{% block content %}
<style>
  .list-item-size {
    font-size: 1rem;
  }
  .steps-container {
    background-color: #00305b;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .text-wt {
    color: white;
  }
  .responsive-flex {
    display: flex;
  }
  .common-container {
    background-color: #00c2cb;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .container-1 {
    width: 25vw;
  }
  .container-2 {
    width: 45vw;

  }
  .container-3 {
    width: 30vw;
  }
  .img-size{
    height:75%; width:25% ;
  }
  .img-size-b{
    position: absolute;
    right: 50px;
    top: 40px;
    height: 90px;
    width: 90px;
    }
  @media (max-width: 800px) {
    .responsive-flex {
      display: flex;
    }
    .container-1 {
      width: 70vw;
    }
    .container-2 {
      width: 30vw;
    }
    .container-3 {
      width: 40vw;
    }
    .img-size{
      height:60%; width:60% ;
    }
    .img-size-b{
      position: absolute;
      right: 15px;
      top: 60px;
      height: 70px;
      width: 70px;
    }
  }
</style>

<!-- <center>
      <h1>{{info.name}} 's Profile &emsp;</h1>
    </center> -->

<br /><br />
<div class="responsive-flex">

    <div class="container-1" style="padding: 10px 15px">
      <ul style="list-style: none; padding: 0px">
        <li><div class="row"><div class="col"> <h6>Name-</h6> </div> <div class="col">{{info.name}}</div></div> </li>
        <li><div class="row"><div class="col"> <h6>Date of Birth-</h6> </div> <div class="col">{{info.dob}}</div></div> </li>
        <li><div class="row"><div class="col"> <h6>Contact No.-</h6> </div> <div class="col">{{info.contact_no}}</div></div> </li>
        <li><div class="row"><div class="col"> <h6>Age-</h6> </div> <div class="col">{{age}}</div></div> </li>
        <li><div class="row"><div class="col"> <h6>Address-</h6> </div> <div class="col">{{info.address}}</div></div> </li>
        <!-- <li>Emergency Contact: {{info.emergency_no}}</li>
            <li>Blood Group: {{info.blood_group}}</li>
            <li>Height (cms): {{info.height_cms}}</li>
            <li>Weight (kgs): {{info.weight_kgs}}</li> -->
      </ul>



    </div>


    <!-- <div class="container-2 text-center" style="padding: 10px 0">
      {% load static %}
        <img class="img-size" src="{% static 'assets/pic.png' %}"  alt="home" />

    </div>
 -->



  <div class="container-3" style="text-align: center">
    <h4 class="card-title">Your Unique</h4>
    <div class="text-center" style="display: flex;  justify-content: center;">
      <div style="display: flex; flex-direction: column;">
      <h4 style="color: #ffc107f7; font-weight: bolder;">QR</h4>
      <h4>Code</h4>
    </div>
    <img
      src="{% qr_url_from_text path size=1 version=10 image_format='png' %}"
      alt="Hello world"
      download
    />
    </div>

    <p></p>
    <a
      class="btn btn-primary"
      href="{% qr_url_from_text path size=4 version=10 image_format='png' %}"
      download
      >Download</a
    >
    <!-- <p>
            {{info.id}}
          </p> -->
  </div>

</div>

<br />

<div class="steps-container" style="position: relative;">
  <h2 class="text-wt">Contact in case of Emergency</h2>

  <br />
  <div class="row">
    <div class="col-4"><h4 class="text-wt">Name</h4></div>
    <div class="col-8"><p class="text-wt">{{info.name}}</p></div>
  </div>
  <div class="row">
    <div class="col-4"><h4 class="text-wt">Contact No.</h4></div>
    <div class="col-8"><p class="text-wt">{{info.emergency_no}}</p></div>
  </div>
  <img class="img-size-b" src="{% static 'assets/5.png' %}"  alt="home" />

</div>

<div style="padding: 10px">
  <h1 class="text-center">Medical Record</h1>
  <br />
  <div class="row">
    <div class="col-4">
      <h4 class="card-title">Allergies</h4>
    </div>
    <div class="col-8">
      <p style="word-break:break-all">{{ info.allergies }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h4 class="card-title">Disabilities</h4>
    </div>
    <div class="col-8">
      <p style="word-break:break-all">{{ info.disabilities }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h4 class="card-title">Special Medical Conditions</h4>
    </div>
    <div class="col-8">
      <p style="word-break:break-all">{{ info.spl_med_conditions }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4"><h4 class="card-title">Ongoing Medication</h4></div>
    <div class="col-8"><p style="word-break:break-all">{{ info.ongoing_meds }}</p></div>
  </div>
</div>

<br /><br />

<div class="common-container">
  <h1 class="text-wt">General</h1>
  <br />
  <div class="row">
    <div class="col-4"><h4 class="text-wt">Blood Group:</h4></div>
    <div class="col-8"><p class="text-wt">{{info.blood_group}}</p></div>
  </div>
  <div class="row">
    <div class="col-4"><h4 class="text-wt">Height:</h4></div>
    <div class="col-8"><p class="text-wt">{{info.height_cms}} cms</p></div>
  </div>
  <div class="row">
    <div class="col-4"><h4 class="text-wt">Weight:</h4></div>
    <div class="col-8"><p class="text-wt">{{info.weight_kgs}} kgs</p></div>
  </div>
</div>

<div class="text-center m-2">
  {% if allow %}
  <a
    class="btn btn-primary"
    href="{% url 'basic_qr:update-medform' info.id %}"
    role="button"
    >Edit Details</a
  >
  {% endif %}
  <!-- {% if allow %}
  <a href="#" class="btn btn-primary">Upload Documents</a>
  {% endif %}
  <a href="#" class="btn btn-primary"> View Uploaded Documents</a> -->
</div>
<div class="text-center">
      {% if allow %}
      <a href="{% url 'basic_qr:upload-document' %}" class="btn btn-primary">Upload A Document</a>
      {% endif %}
      <a href="{% url 'basic_qr:display-documents' info.id %}" class="btn btn-primary"> View Uploaded Documents</a>
    </div>
<script></script>

{% endblock %}
